.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    .card   {
        margin-top: 20px;
        width: 300px;
        height:350px;
        background-color: orange;
    }
}
.carrito{
    .filaCarrito{
        margin-left: 10%;
        width: 80%;
        list-style: none;
        background-color: #8753;
    }
}